---
import qr from "../assets/image-qr-code.png";
---

<main class="min-h-screen flex items-center justify-center bg-[hsl(212,45%,89%)]">
    <article class="bg-white p-4 rounded-2xl shadow-lg p-4 max-w-[300px] text center">
        <img src="/image-qr-code.png" alt="QR Code" class="rounded-xl mb-4" />
    <h1 class="text-[22px] font-bold text-[hsl(218,44%,22%)] mb-3">Improve your front-end skills by building projects</h1>
    <p class="text-[15px] text-[hsl(216,15%,48%)] px-2">Scan the QR code to visit Frontend Mentor and take your coding skills to the next level</p>
    </article>
</main>